.add-task-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 6px;
}

.input-addtask {
  outline: none;
  background: var(--bg-input);
  border: 2px solid var(--border);
  padding: 0.5rem 1rem;
  width: 100%;
  color: var(--text-input);
  border-radius: 10px;
}

.btn-addtask {
  background: var(--bg-btn);
  color: var(--text-btn);
  padding: 0.55rem;
  cursor: pointer;
  border: 1.5px solid var(--btn);
  border-radius: 10px;
}

@media (max-width: 350px) {
  .add-task-form {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
