.update-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 6px;
}

.input-update {
  outline: none;
  background: white;
  border: 2px solid #858488;
  padding: 0.5rem 1rem;
  width: 100%;
  color: black;
  border-radius: 10px;
}

.btn-update {
  background: #8758ff;
  color: white;
  padding: 0.55rem;
  cursor: pointer;
  border: 1.5px solid #8758ff;
  border-radius: 10px;
}

.btn-cancel {
  background: #8758ff;
  color: white;
  padding: 0.55rem;
  cursor: pointer;
  border: 1.5px solid #8758ff;
  border-radius: 10px;
}

@media (max-width: 748px) {
  .update-form {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .update-form div:nth-child(1) {
    grid-column-start: span 2;
  }
  .update-form div:nth-child(2) {
    grid-column-start: span 1;
  }

  .update-form div button {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .update-form {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .update-form div:nth-child(1) {
    grid-column-start: span 2;
  }
  .update-form div:nth-child(2) {
    grid-column-start: span 1;
  }

  .update-form div button {
    width: 100%;
  }
}
